<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Piecebroker</title>
</head>
<body>
    {{!--nav bar--}}
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left"><img src="images/blue_logo.png"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/team"></a></li>
          <li><a href="/user">My History</a></li>
        </ul>
      </div>
    </nav>
   
    <main>
    {{{body}}}
    </main>

    {{!--//footer--}}

    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">PieceBroker</h5>
                <p class="grey-text text-lighten-4">Find food fast and skip the argument.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Team GitHubs</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Doug Balkin</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/jjconoscenti">JJ Conoscenti</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/colinmac17">Colin McAtee</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/mccarthinator">Katie McCarthy</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/wjthornberry">Jake Thornberry</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright PieceBroker
            </div>
          </div>
        </footer>

    <!-- Compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>