<div class="container" id="budgetPage">
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <div class="col s4 offset-s4 center-align" id="whats-your-budget"><div class="card-panel grey">What's your budget?</div></div>
        <br>
        <br>
        <br>
        <br>
        <div class="col s4 center-align"><i class="large material-icons">attach_money</i></div>
        <div class="col s4 center-align"><i class="large material-icons">attach_money</i><i class="large material-icons">attach_money</i></div>
        <div class="col s4 center-align"><i class="large material-icons">attach_money</i><i class="large material-icons">attach_money</i><i class="large material-icons">attach_money</i></div>
    </div>
</div>
