<<<<<<< HEAD
<div class="container" id="budgetPage">
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <div class="col s4 offset-s4 center-align" id="whats-your-budget"><div class="card-panel grey">What's your budget?</div></div>
        <br>
        <br>
        <br>
        <br>
        <div class="col s4 center-align"><i class="large material-icons">attach_money</i></div>
        <div class="col s4 center-align"><i class="large material-icons">attach_money</i><i class="large material-icons">attach_money</i></div>
        <div class="col s4 center-align"><i class="large material-icons">attach_money</i><i class="large material-icons">attach_money</i><i class="large material-icons">attach_money</i></div>
    </div>
</div>
=======
<div class="container" id="budget">
    <div class="row">
        <div class="col s4">$</div>
        <div class="col s4">$$</div>
        <div class="col s4">$$$</div>
    </div>
</div>
>>>>>>> 35bdb7c46622117b2bad22457de4d4a8ca4f0bdd
