  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Here's your result!</h4>
      <p>We hope your next meal is peaceful</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Order via GrubHub</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Get Directions</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Call an Order</a>
    </div>
  </div>