<div class="container text-center" id="whatsUrBudget">
        <div class="row">
            <div class="col s4 offset-s4 center-align">
                <div class="card-panel blue">What's your budget?</div>
            </div>
        </div>
</div>

<div class="container" id="moneySigns">
    <div class="row center-align">
        <button class="btn btn-large green">$</button>
        <button class="btn btn-large green">$$</button>
        <button class="btn btn-large green">$$$</button>
</div>

