<div class="container text-center" id="whatsUrBudget">
    <div class="row">
        <div class="col s10 offset-s1 m4 offset-m4">
            <div class="card blue">
                <div class="card-content white-text">
                    <h4 class="center-align">What's your budget?</h4>
                </div>
            </div>
        </div>
    </div>   

    <div class="row center-align" id="moneySigns">
        <button class="btn btn-large green">$</button>
        <button class="btn btn-large green">$$</button>
        <button class="btn btn-large green">$$$</button>
    </div>    
</div>

