<div class="container" id="budgetPage">
    <div class="row">
        <h2 class="center-align">What's your budget?</h2>
        <br>
        <br>
        <br>
        <br>
        <div class="col s4 center-align"><i class="large material-icons">attach_money</i></div>
        <div class="col s4 center-align"><i class="large material-icons">attach_money</i><i class="large material-icons">attach_money</i></div>
        <div class="col s4 center-align"><i class="large material-icons">attach_money</i><i class="large material-icons">attach_money</i><i class="large material-icons">attach_money</i></div>
    </div>
</div>
