<!--1 Location -->
    <div class="container">
        <div class= "col s10 m6">
            <h1 class="header center">Where do you want to eat?</h1>
                    <form action="/{{}}?_method=PUT" method="POST">
                        <input type="hidden" name="find-food">
                        <button class="btn gray darken-2" type="submit">Feeling hungry?</button>
                    </form>
        </div>
        <div class = "col s2 m2">
            <input type="hidden" name="feeling-hungry">
            <button class="btn green darken-2" type="submit">Find food</button>
        </div>
    </div>

    <!-- 2 Cuisine type -->




    <!-- 3 Budget preference -->




    <!-- 4 Results -->