
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
<div class="modal-content">
    <h4>Here's your result!</h4>
    <p>We hope your next meal is peaceful</p>
</div>
<div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Order via GrubHub</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Get Directions</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Call an Order</a>
</div>
</div>

<!--1st screen: location search container-->
<div class="container" id="location-container">
    <br></br>
    <h3 class="header center">Where do you want to eat?</h3>
    <div class="row center input-field">
        <!--User form-->
        <input class="col s10 offset-s1 m4 offset-m4 text-area" id="locationInput" type="text" placeholder="Chicago, IL">
        <a href="#" class="btn waves-effect waves-light green darken-1" id="submitBtn">Find Food</a>
    </div>
    <div class="row center">
        <p class="errMsg" id="failMsg">Please enter a valid city</p>
        <a href="#" class="btn waves-effect waves-light grey lighten-1" id="hungryBtn">Feeling hungry?</a>
        <p id="locationLoad" class="animated bounce">...Finding your location</p>
    </div>
</div>

<!--2nd screen: Pick cuisine type container-->
<div class="carousel container" id="foodType-container">
    <div class="row center">
        <a>
            <img class="carousel-item" data-id="55" src="/images/updatedFood/Italian_updated.jpg" alt="">
        </a>
        <a>
            <img class="carousel-item" data-id="1" src="/images/updatedFood/Americana_updated.jpg" alt="">
        </a>
        <a>
            <img class="carousel-item" data-id="148" src="/images/updatedFood/Indian_updated.jpg" alt="">
        </a>
        <a>
            <img class="carousel-item" data-id="73" src="/images/updatedFood/Mexican_updated.jpg" alt="">
        </a>
        <a>
            <img class="carousel-item" data-id="177" src="/images/updatedFood/Sushi.jpg" alt="">
        </a>
        <a>
            <img class="carousel-item" data-id="308" src="/images/updatedFood/Vegetarian.jpg" alt="">
        </a>
        <a>
            <img class="carousel-item" data-id="70" src="/images/updatedFood/Mediteranian_Updated.jpg" alt="">
        </a>
        <a>
            <img class="carousel-item" data-id="25" src="/images/updatedFood/Chinese_updated.jpg" alt="">
        </a>
    </div>
    <div class="row center">
        <!-- back button 1 -->
        <div class="row col s10 offset-s1 m4 offset-m4 center">
            <a class="waves-effect waves-light btn" id="backButton1" onclick="location.reload()">Restart</a>
        </div>
        <!-- progress bar -->
        <div class="row col s10 offset-s1 m4 offset-m4 center">
            <div class="progress" id="progress1">
                <div class="determinate" style="width: 33%"></div>
            </div>
        </div>
    </div>
</div>

<!--3rd screen: Budget preference container-->
<div class="container text-center" id="budget-container">
    <div class="row">
        <div class="col s10 offset-s1 m4 offset-m4">
            <div class="card blue">
                <div class="card-content white-text">
                    <h4 class="center-align">What's your budget?</h4>
                </div>
            </div>
        </div>
    </div>   

    <div class="center-align" id="moneySigns">
        <button class="btn btn-large green" data-id="cheap">$</button>
        <p class="errMsg" id="cheapErrMsg">Sorry, there are no cheap restaurants for your selection</p>
        
        <button class="btn btn-large green" data-id="medium">$$</button>
        <p class="errMsg" id="medErrMsg">Sorry, there are no medium-priced restaurants for your selection</p>
        
        <button class="btn btn-large green" data-id="expensive">$$$</button>
        <p class="errMsg" id="expErrMsg">Sorry, there are no expensive restaurants for your selection</p>
    </div>
    <div class="container">
        <!-- progress bar -->
        <!-- <div class="row col s10 offset-s1 m4 offset-m4 center-align"> -->
            <div class="progress" id="progress2">
                <div class="determinate" style="width: 66%"></div>
            </div>
        </div>
        <!-- back button 2 -->
        <div class="row center">
            <a class="waves-effect waves-light btn" id="backButton2" onclick="location.reload()">Restart</a>
        </div>
    </div>
</div>

<!--error message to show if no restaurants are found in a city-->
<div id="errDiv">
    <h1 class="errMsg"></h1>
</div>

<!--Loader to show between data search-->
{{!-- <div class="loader center-block text-center"></div> --}}

<!--Preloader to show between views-->
<div class="preloader-background loader">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>



