<div class="container index-container">
    <h4 class="center">Welcome to PieceBroker</h4>
    <div class="row">
        <div class="col s12 center">
            <a href="/signup" class="waves-effect waves-light btn-large center"><i class="material-icons right">navigate_next</i>Sign Up To Get Started</a>            
        </div>
    </div>
    <div class="row">
        <div class="col s12">
             <h3 class="center">What is piecebroker?</h3>
                <hr class="hr-style">
            <p class="piecbroker-help">
                Piece Broker is an app that helps people make decisions about food.
                <br>
                <br> ...You've been hanging out with friends, family or significant others looking for a place to eat, but with so many great choices out there, it can sometimes be challenging for everyone to agree.
                <br>
                <p id="opinion">We don't think this should ever happen.</p>
                Piece Broker eliminates the need for an argument while also adding levity—and a little fun—to the process of choosing a place to eat. After asking three simple questions, our web app helps the user with this process by providing a single restaurant recommendation based on their search criteria.
                <br> That recommendation is sent back to the app and displayed for the user. From there, the user can checkout the restaurant details and even see a log of restaurants they have matched with.
                <br>
                <br> From start to finish, it's fun, a decision is made (avoiding the argument all together), and action can be taken based on the result. Skip the argument, skip the line.
            </p>
        </div>
    </div>
</div>