<div class="container index-container">
   <h4 class="center welcome">Welcome to PieceBroker</h4>
       <div class="row center">
           <div class="col m12 s12 center centering-cards">
               <div class="card blue darken-1 centered-home">
                   <div class="card-content white-text center">
                       <span class="card-title">Get Started</span>
                           <p>Sign up today to store all of your favorite restaurant matches on your personal profile</p>
                   </div>
                   <div class="card-action center page1">
                       <a href="/signup">Sign Up</a>
                       <a href="/team">Meet the Team</a>
                   </div>
               </div>
           </div>
       </div>

   <div class="col s2 center">
       {{!--Modal Trigger--}}
       <a class="waves-effect waves-light btn modal-trigger z-depth-2" href="#info-modal" id="info-button"><i class="material-icons left">info_outline</i>INFO</a>
       <div class="col m6 s12 ">
           <!-- Modal Structure -->
           <div id="info-modal" class="modal">
               <div class="modal-content">
                   <h4>About PieceBroker</h4>
                       <p class="flow-text">Piece Broker is an app that helps people make decisions about food.</p>
                       <p class="flow-text"> ...You've been hanging out with friends, family or significant others looking for a place to eat, but with so many great choices out there, it can sometimes be challenging for everyone to agree.</p>
                       <p class="flow-text">We don't think this should ever happen</p>
                       <p class="flow-text">Piece Broker eliminates the need for an argument while also adding levity—and a little fun—to the process of choosing a place to eat. After asking three simple questions, our web app helps the user with this process by providing a single restaurant recommendation based on their search criteria. That recommendation is sent back to the app and displayed for the user. From there, the user can checkout the restaurant details and even see a log of restaurants they have matched with.</p>
                       <p class="flow-text"> From start to finish, it's fun, a decision is made (avoiding the argument all together), and action can be taken based on the result.</p>
               </div>
               <div class="modal-footer">
                   <a href="#!" class="modal-action modal-close waves-effect waves-orange btn-flat">Close</a>
               </div>
           </div>
       </div>
   </div>
</div>
