<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="section">
                    
                    {{!--Doug Section--}}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                                <a href="https://github.com/dbalkin77">
                                    <img src="/images/doug-balkin.jpg" width="305" height="315">
                                    <span class="card-title-team">Doug Balkin</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    {{!--JJ Section--}}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                                <a href="https://github.com/jjconoscenti">
                                    <img src="/images/jj-conoscenti.jpeg" width="305" height="315">
                                    <span class="card-title-team">JJ Conoscenti</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    {{!--Colin Section--}}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                                <a href="https://github.com/colinmac17">
                                    <img src="/images/colin-mcatee.jpeg" width="305" height="315">
                                    <span class="card-title-team">Colin McAtee</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    {{!--Katie Section--}}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                                <a href="https://github.com/mccarthinator">
                                    <img src="/images/katie-mccarthy.png" width="305" height="315">
                                    <span class="card-title-team">Katie McCarthy</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    {{!--Jake Section--}}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                                <a href="https://github.com/wjthornberry">
                                    <img src="/images/jake-thornberry.jpeg" width="305" height="315">
                                    <span class="card-title-team">Jake Thornberry</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

