<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="section">
                    
                    {{!--Doug Section--}}
                        <div class="col m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/doug-balkin.jpg">
                                        <span class="card-title">Doug Balkin</span>
                                </div>
                            <div class="card-content">
                                <p>Subtly charming internet enthusiast and opera singer. Unapologetic thinker. Infuriatingly humble web aficionado. Avid tv advocate.</p>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/dbalkin77">More about Doug</a>
                            </div>
                            </div>
                        </div>

                    {{!--JJ Section--}}
                        <div class="col m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/jj-conoscenti.jpeg">
                                        <span class="card-title">JJ Conoscenti</span>
                                </div>
                            <div class="card-content">
                                <p>Currently a Product Owner & Scrum Master at Leapfrog Online. Formerly at consulting firm in the loop. Futurely at the Kanye West Presidential Library.</p>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/jjconoscenti">More about JJ</a>
                            </div>
                            </div>
                        </div>

                    {{!--Colin Section--}}
                        <div class="col m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/colin-mcatee.jpeg">
                                        <span class="card-title">Colin McAtee</span>
                                </div>
                            <div class="card-content">
                                <p>Currently a software engineer at RIVS Digital Interviews. Passionate about developing quality user interfaces with dynamic backends. University of Michigan Sports Fanatic.</p>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/colinmac17">More about Colin</a>
                            </div>
                            </div>
                        </div>

                    {{!--Katie Section--}}
                        <div class="col m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/katie-mccarthy.png">
                                        <span class="card-title">Katie McCarty</span>
                                </div>
                            <div class="card-content">
                                <p>Full-stack web developer and classical musician. Bringing collaboration and creativity to web development.</p>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/mccarthinator">More about Katie</a>
                            </div>
                            </div>
                        </div>
                    
                    {{!--Jake Section--}}
                        <div class="col m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/jake-thornberry.jpeg">
                                        <span class="card-title">Jake Thornberry</span>
                                </div>
                            <div class="card-content">
                                <p>Creative, curious, and collaborative full-stack web developer passionate about strong UX/UI and clean design. Lifelong creator, runner, and actor.</p>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/wjthornberry">More about Jake</a>
                            </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

