#budget-container div.col.s4.offset-s4.center-align {
    color: white;
    font-size: 20px;
}

#budget-container div.card.blue {
margin-top: 80px;
margin-bottom: 50px;
}

#budget-container .btn.btn-large.green {
font-size: 30px;
height: 100px;
margin-right: 15px;
margin-left: 10px;
}




