#whatsUrBudget div.col.s4.offset-s4.center-align {
    color: white;
    font-size: 20px;
}

#whatsUrBudget div.card.blue {
margin-top: 80px;
margin-bottom: 50px;
}

#whatsUrBudget .btn.btn-large.green {
font-size: 30px;
height: 100px;
margin-right: 20px;
margin-left: 20px;
}




