body {
    font-family: 'Poppins', sans-serif;
    background: snow;
}


#logo:hover {
    cursor: pointer;
    opacity: 0.7;
}

.location-container {
    max-width: 500px;
    margin-top: 120px;
}

.location-head,
.food-head,
.price-head,
.about-head {
    background: #3421f5;
    color: #fffff0;
    padding: 5px;
    border-radius: 5px;
}

.about-page {
    margin-bottom: 100px;
}

.profile-img {
    border-radius: 10px;
}
.about-paragraph {
    font-size: 20px;
    color:#3e3e3e;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 50px;
}

#locationInput {
    margin-top: 5px;
    padding: 20px;
    border-radius: 10px;
}

.nav-link {
    margin-top: 13px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.7;
}

.fa {
    margin-right: 5px;
}

#collapseBtn {
    margin-top: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    color: snow;
}

.footer {
    padding: 10px;
}

.footer p {
    margin-top: 5px;
    color: #fffff0;
}

.footer-link {
    color: #fffff0;
}

.panel > .panel-heading {
    background-color: #3421f5;
    color: white;
}

.panel-primary {
    position: absolute;
}

.panel-title {
    font-size: 30px;
}

.btn {
    margin-top: 5px;
    padding: 10px;
    background: gray;
    border: white;
    font-size: 20px;
    color: #fffff0;
}

#submitBtn:hover,
#hungryBtn:hover {
    background: #C63D0F;
    color:#fffff0;
}

.footer-link:hover {
    color: white;
}

.panel-heading {
    background: #3421f5;
}

#failMsg {
    color: red;
    margin-top: 5px;
    font-size: 24px;
}

.foodType-container {
    display: none;
}
/*
img {
    width: 200px;
    height: 300px;
*/
.gif-container {
    margin-top: 20px;
    margin-bottom: 100px;
}

.price-container {
    display: none;
    margin-top: 100px;
    margin-bottom:100px;
}

.results-container {
    display: none;
    margin-top: 100px;
    margin-bottom: 100px;
}

.gif, .budget-gif {
    margin: 10px;
}


.gif:hover, .budget-gif:hover {
    cursor: pointer;
    opacity: 0.7;
}
